echo __pycache__/ > .gitignore
echo *.py[cod] >> .gitignore
echo *$py.class >> .gitignore
echo .env >> .gitignore
echo *.sqlite >> .gitignore
echo *.db >> .gitignore
echo saved_configs/*.json >> .gitignore